<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.resource.mapper.ClientMapper">

    <!-- 고객기업 저장-->
       <insert id="insert" parameterType="ClientDTO">
       INSERT INTO client_company (id,company_name,category,income,address)
       VALUES 
       (#{id},#{company_name},#{category},#{income},#{address})
       </insert>
       
     
     <!-- 고객기업 정보 수정-->
       <update id="update" parameterType="ClientDTO">
        UPDATE client_company
        SET
        company_name  = #{company_name},
        category = #{category},
        income=#{income},
        address = #{address}
        WHERE id = #{id}
       </update>


    <!-- 고객기업 삭제-->
    <delete id="removeByid" parameterType="int" >
        delete from client_company
        where id = #{id}
    </delete>


    <!-- 전체조회-->
    <select id="findAll" resultType="ClientDTO">
        select id,
        company_name,
        category,
        income,
        address
        from client_company
        order by company_name
    </select>
    
    <!-- id 입력시 정보 조회-->
    



</mapper>