<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.order">
  	<!-- 입력한 기업명의 고객아이디 조회 -->
  <select id="findClientId" parameterType = "String" resultType="int">
    SELECT id FROM client_company
    WHERE company_name = #{company_name}
  </select>
  
  <!-- 입력한 상품이름의 상품아이디 조회 -->
    <select id="findProductId" parameterType = "String" resultType="int">
    SELECT id FROM product
    WHERE product_name = #{product_name}
  </select>
  
  <!-- 등록할 상품들을 주문 테이블에 저장(동적sql)-->
  <insert id="enroll">
  
  
  </insert>
</mapper>