<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.release">
<!-- 등록할 상품들을 출고 테이블에 저장(동적sql)-->
  <insert id="enroll" parameterType = "ReleaseDTO">
      insert into `release`(member_id,release_date,status,item_cnt)
      values(#{member_id},'미정','대기중',#{item_cnt})
  </insert>
  <!-- 주문수량으로 출고번호 찾기-->
  <select id="findreleaseID" parameterType="int" resultType="int">
  select id from `release` where item_cnt = #{item_cnt}
  </select>
  <!-- 출고 번호로 조회-->
 <select id="noselect" parameterType="int" resultType="ReleaseDTO">
  select id, member_id, item_cnt, release_date, status
  from `release` 
  where id = #{id}
 
 </select>
 
 <!-- 출고 상태로 조회-->
 <select id="statuselect" parameterType="String" resultType="ReleaseDTO">
 select id, member_id, item_cnt, release_date, status
  from `release` 
  where status = #{status}
 </select>
 
 <!-- 출고 삭제-->
   <delete id="releasedelete" parameterType="long" >
  delete from `release` where id = #{id}
  </delete>
  <!-- 출고 전체 조회-->
  <select id="findall" resultType="ReleaseDTO">
  select * from `release`
  </select>
</mapper>